/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Lato';
	font-weight: 700;
	src: url('/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
	font-family: 'Lato';
	font-weight: 400;
	font-style: italic;
	src: url('/fonts/Lato/Lato-Italic.ttf');
}

@font-face {
	font-family: 'Lato';
	font-weight: 400;
	src: url('/fonts/Lato/Lato-Regular.ttf');
}

body {
	font-family: 'Lato';
	height: 100vh;
}
